// stylelint-disable import-notation
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.pizza-menu-page {
  --color-dark: #252525;
  --color-light: #f7f2e9;
  --color-yellow: #edc84b;
  --color-gray: #888;

  font-family: "Roboto Mono", sans-serif;
  color: var(--color-light);
  font-weight: 400;
  border-bottom: 1.6rem solid var(--color-yellow);
  padding-bottom: 6rem;
  min-height: calc(100vh - 225px);

  .pizza-header {
    position: relative;
    display: flex;
    justify-content: center;

    &::after {
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: var(--color-yellow);
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      z-index: -1;
    }

    h1 {
      margin: 0;
      padding-inline: 10px;
      color: var(--color-yellow);
      text-transform: uppercase;
      text-align: center;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 3px;
      width: fit-content;
      background: var(--root-bg);

      @media (width >= 768px) {
        font-size: 48px;
      }
    }
  }

  .pizzas {
    padding: 50px 0;

    h2 {
      margin: 0;
      padding: 1rem 0;
      border-top: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500;
      text-align: center;

      @media (width >= 768px) {
        font-size: 30px;
      }
    }

    .description {
      display: flex;
      justify-content: center;

      p {
        font-size: 18px;
        text-align: center;
        line-height: 1.6;
        max-width: 600px;

        @media (width >= 768px) {
          font-size: 20px;
        }
      }
    }

    .empty-results {
      padding: 50px 0;
      text-align: center;
    }

    .pizza-list {
      display: grid;
      gap: 48px 24px;
      margin-top: 50px;

      @media (width >= 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .pizza {
        display: flex;
        gap: 12px;

        &.sold-out {
          color: var(--color-gray);

          img {
            filter: grayscale(80%);
            opacity: 0.8;
          }
        }

        .media-wrapper {
          img {
            width: 150px;
            aspect-ratio: 1;
            object-fit: cover;
          }
        }

        .content-wrapper {
          display: flex;
          flex-direction: column;
          padding: 10px 0;

          h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 400;
          }

          .ingredient-list {
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
            margin-top: 5px;
            margin-bottom: auto;
          }

          .additional-info {
            margin-top: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .pizza-footer {
    // stylelint-disable no-descending-specificity
    p {
      font-size: 18px;
      text-align: center;
      margin: 0;
    }

    .order {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .btn {
      color: var(--color-dark);
      font-family: inherit;
      border: none;
      font-size: 18px;
      font-weight: 500;
      background-color: var(--color-yellow);
      padding: 20px 48px;
      cursor: pointer;
      transition: all 0.2s;
      width: fit-content;

      &:hover, &:focus {
        background-color: #e9bb24;
      }
    }
  }
}
