.usepopcorn-page {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  // Header.
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 24px;
    background-color: var(--color-primary);
    border-radius: 14px;

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }

    .search-wrapper {
      justify-self: center;
      width: 100%;

      input {
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 12px;
        transition: all 0.3s;
        color: var(--color-text);
        background-color: var(--color-primary-light);
        width: 100%;

        &::placeholder {
          color: var(--color-text-dark);
        }

        &:focus {
          outline: none;
          box-shadow: 0 8px 8px rgba(#000, 10%);
        }
      }
    }

    .results-wrapper {
      font-size: 16px;
      justify-self: end;
      font-weight: 500;
    }
  }

  // Main
  main {
    display: grid;
    gap: 24px;
    padding: 24px 0;

    @media screen and (width >= 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .column {
      position: relative;
      background: var(--color-background-500);
      border-radius: 14px;
      min-height: 50vh;
    }

    // Toggle button.
    .toggle-list-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 0;
      padding: 0;
      background: var(--color-background-900);
      color: white;
      font-size: 18px;
    }

    // Movies list.
    .movies-list {
      margin: 0;
      padding: 12px 0;
      list-style: none;
    }

    // Movie item.
    .movie-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 24px;
      border-bottom: 1px solid var(--color-background-100);

      img {
        width: 40px;
        height: auto;
        object-fit: contain;
      }

      .movie-item-info {
        h3 {
          margin: 0;
          font-size: 18px;
        }

        .additional-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }

    // Watched movies.
    .watched-movies-wrapper {
      .watched-movie-summary {
        background: var(--color-background-100);
        border-radius: 14px;
        padding: 12px 24px;

        h2 {
          margin: 0;
          text-transform: uppercase;
          font-size: 18px;
        }

        .watched-data {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
