.usepopcorn-page {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  // Header.
  .usepopcorn-header {
    display: grid;
    align-items: center;
    gap: 12px;
    padding: 24px;
    background-color: var(--color-primary);
    border-radius: 14px;

    @media screen and (width >=768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }

    .search-wrapper {
      justify-self: center;
      width: 100%;

      input {
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 12px;
        transition: all 0.3s;
        color: var(--color-text);
        background-color: var(--color-primary-light);
        width: 100%;
        box-sizing: border-box;

        &::placeholder {
          color: var(--color-text-dark);
        }

        &:focus {
          outline: none;
          box-shadow: 0 8px 8px rgba(#000, 10%);
        }
      }
    }

    .results-wrapper {
      font-size: 16px;
      justify-self: end;
      font-weight: 500;
    }
  }

  // Main
  .usepopcorn-main {
    display: grid;
    gap: 24px;
    padding: 24px 0;

    @media screen and (width >= 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .column {
      position: relative;
      background: var(--color-background-500);
      border-radius: 14px;
      min-height: 50vh;
    }

    // Toggle button.
    .toggle-list-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 0;
      padding: 0;
      background: var(--color-background-900);
      color: white;
      font-size: 18px;
    }

    // Movies list.
    .movies-list {
      margin: 0;
      padding: 12px 0;
      list-style: none;
    }

    // Movie item.
    .movie-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 24px;
      border-bottom: 1px solid var(--color-background-100);

      &.listed-movie-item {
        &:hover, &:focus-within {
          background: var(--color-background-100);
        }
      }

      img {
        width: 40px;
        height: auto;
        object-fit: contain;
      }

      .movie-item-info {
        h3 {
          margin: 0;
          font-size: 18px;
        }

        .additional-info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
          margin-top: 10px;
          font-size: 14px;
        }
      }

      .remove-movie-btn {
        align-self: start;
        margin-left: auto;
        background: transparent;
        border: 0;
        font-size: 10px;
      }

      .select-movie-btn {
        position: absolute;
        inset: 0;
        background: transparent;
        border: 0;
        font-size: 0;
      }
    }

    // Watched movies summary.
    .watched-movie-summary {
      background: var(--color-background-100);
      border-radius: 14px;
      padding: 12px 24px;

      h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 18px;
      }

      .watched-data {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 10px;
        font-size: 14px;
      }
    }

    // Star rating.
    .star-rating {
      display: grid;
      grid-template-columns: 1fr 24px;
      align-items: center;
      gap: 10px;

      .stars {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        justify-content: space-between;

        .star-btn {
          border: 0;
          background: transparent;
          padding: 0;
          display: block;

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }

      .rating {
        font-size: 16px;
        font-weight: 600;
        color: #fcc419;
      }
    }

    // Details
    .movie-details {
      position: relative;
      height: 100%;

      .close-details-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 0;
        border-radius: 50%;
        padding: 0 0 5px;
        height: 32px;
        width: 32px;
        color: black;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
      }

      .movie-details-top {
        display: flex;
        flex-direction: column;
        background: var(--color-background-100);

        @media screen and (width >= 768px) {
          flex-direction: row;
        }

        img {
          height: auto;
          width: 125px;
          object-fit: contain;

          @media screen and (width < 768px) {
            margin: 0 auto;
          }
        }

        .movie-details-info {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 24px;

          @media screen and (width >= 768px) {
            padding-inline: 16px;
          }

          h2 {
            margin: 0;
            font-size: 24px;
          }

          .info-item {
            font-size: 16px;
          }

          .one-line {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            .info-item {
              position: relative;

              &:not(:last-child) {
                &::after {
                  content: '';
                  position: absolute;
                  right: -15px;
                  top: calc(50% - 2px);
                  display: block;
                  height: 3px;
                  width: 3px;
                  border-radius: 50%;
                  background: white;
                }
              }
            }
          }
        }
      }

      .movie-details-bottom {
        padding: 24px;

        .star-rating-wrapper {
          background: var(--color-background-100);
          border-radius: 14px;
          padding: 24px;

          .add-to-list-btn {
            margin-top: 24px;
            padding: 12px 24px;
            width: 100%;
            border: 0;
            border-radius: 40px;
            background: var(--color-primary);
            color: white;
            font-size: 16px;
            font-weight: 600;
            transition: 250ms;

            &:hover, &:focus {
              background: var(--color-primary-light);
            }
          }
        }

        .description {
          margin-top: 24px;
        }
      }
    }

    // Error
    .error {
      padding: 48px 24px;
    }
  }
}
