.workout-timer-page {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #2b3035;
  padding: 48px 16px;
  border-radius: 9px;
  // stylelint-disable color-function-alias-notation, color-function-notation
  box-shadow: 0 2.8px 2.8px rgba(0, 0, 0, 2.8%),
  0 6.7px 6.7px rgba(0, 0, 0, 4%), 0 12.5px 12.5px rgba(0, 0, 0, 5%),
  0 22.3px 22.3px rgba(0, 0, 0, 6%),
  0 41.8px 41.8px rgba(0, 0, 0, 7.2%), 0 100px 100px rgba(0, 0, 0, 10%);

  @media screen and (width >= 768px) {
    padding: 48px;
  }

  h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
    line-height: 1;
    margin-bottom: 32px;
    background-clip: text;
    background-image: linear-gradient(to right bottom, #80dfe1, #4e7afa);
    color: transparent;
    transform: skew(-20deg);
  }

  time {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto 32px;
    background-color: #343a40;
    border-radius: 9px;
    padding: 12px;
    font-size: 12px;
    font-weight: 700;
    color: #4a9fee;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;

    .form-row {
      display: grid;
      gap: 10px;
      font-size: 14px;

      @media screen and (width >= 768px) {
        grid-template-columns: calc(40% - 24px) 30% calc(30% - 24px);
        align-items: center;
        gap: 24px;

        &:not(:has(span)) {
          grid-template-columns: calc(40% - 24px) calc(60% - 24px);
        }
      }

      label {
        font-weight: 500;
      }

      select {
        font-family: inherit;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #999;
        border-radius: 5px;
        width: 100%;
      }

      input {
        width: 100%;
      }
    }
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #343a40;
    border-radius: 9px;
    padding: 24px;

    p {
      margin: 0;
      font-size: 32px;
      font-weight: 900;
      text-align: center;
      background-clip: text;
      background-image: linear-gradient(to right bottom, #80dfe1, #4e7afa);
      color: transparent;
    }

    button {
      height: 24px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      line-height: 1;
      border-radius: 50%;
      border: 0;
      background-color: #67adee;
      color: #fff;
      font-weight: 900;
      font-size: 20px;
      cursor: pointer;

      &.decrease {
        padding-bottom: 3px;
      }
    }
  }

  .btn-sound {
    position: absolute;
    top: 24px;
    right: 16px;
    background-color: transparent;
    font-size: 24px;
    border: 0;
    padding: 0;
    line-height: 1;

    @media screen and (width >= 768px) {
      right: 32px;
    }
  }
}
