// Icomoon.

$icon-font-dir: '';

// Map icomoon glyphs to the name that will be used in icon mixins.
$icons: (
  pdf: "\e938",
  chevron-down: "\e90f",
  chevron-right: "\e911",
  delete: "\e915",
  download: "\e918",
  edit: "\e901",
);
