.eat-split-page {
  --color-gray: #382f27;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  main {
    display: flex;
    flex-direction: column;

    @media screen and (width >= 768px) {
      flex-direction: row;
    }

    button, input[type='submit'] {
      background-color: var(--color-medium);
      color: #343a40;
      padding: 0.8rem 1.2rem;
      border: none;
      border-radius: 7px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      &:hover, &:focus {
        background-color: var(--color-dark);
      }
    }

    .list-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0 12px 32px;
      box-sizing: border-box;

      @media screen and (width >= 768px) {
        width: 50%;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 20px 12px;
          border-radius: 7px;
          transition: 0.5s;

          &:hover, &:focus-within, &.is-selected {
            background-color: var(--color-gray);
          }

          .list-item {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
              border-radius: 50%;
              width: 60px;
              aspect-ratio: 1;
              object-fit: cover;
            }

            .info-wrapper {
              .info-name {
                font-weight: 700;
                font-size: 18px;
              }

              .info-balance {
                font-size: 14px;

                .negative {
                  color: #e03131;
                }

                .positive {
                  color: #66a80f;
                }
              }
            }
          }

          button {
            &::after {
              content: '';
              position: absolute;
              inset: 0;
            }
          }
        }
      }

      .add-btn {
        margin-left: auto;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 32px 24px;
      background-color: var(--color-gray);
      border-radius: 7px;
      box-sizing: border-box;

      h2 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        margin: 0 0 24px;

        @media screen and (width >= 768px) {
          font-size: 28px;
        }
      }

      .form-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;

        &:has([readOnly]) {
          pointer-events: none;
        }

        input,
        select {
          font-family: inherit;
          color: inherit;
          font-size: 16px;
          padding: 10px;
          text-align: center;
          border: 1px solid var(--color-medium);
          border-radius: 4px;
          transition: 0.3s;

          &[readOnly] {
            border-color: #1e1e1e;
          }

          &:hover, &:focus {
            outline: none;
            border: 1px solid var(--color-dark);
          }
        }
      }

      .form-actions {
        margin-left: auto;
      }

      &.split-bill-form {
        @media screen and (width >= 768px) {
          width: 50%;
        }
      }

      &.add-friend-form {
        padding: 24px 12px;

        // stylelint-disable no-descending-specificity
        input {
          text-align: left;
        }
      }
    }
  }
}
