.memory-game {
  --dark-primary: #082f49;
  --light-primary: #f0f9ff;
  --light-secondary: #cbd5e1;
  --accent: #fde68a;
  --btn-disabled: #a8a29e;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--light-secondary);
    color: var(--dark-primary);
    border-radius: .5em;
  }

  .wrapper--accent {
    padding: 2em 3em;
    border: 1px solid var(--dark-primary);
    box-shadow: 0 0 5px 2px var(--light-primary);
  }

  /* ===========================
    Typography
  ============================ */

  h1 {
    color: var(--accent);
    font-size: 2.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;

    @media (width >= 768px) {
      font-size: 2.75rem;
    }

    @media (width >= 1024px) {
      font-size: 3rem;
    }
  }

  .p--large {
    font-size: 1.5rem;
  }

  .p--regular {
    font-size: 1.125em;
  }

  /* ===========================
    Buttons
  ============================ */
  .btn {
    background-color: var(--light-primary);
    color: var(--dark-primary);
    font-family: inherit;
    border: 2px solid var(--dark-primary);
    border-radius: .5em;
    cursor: pointer;
    transition: 250ms;
  }

  .btn--text {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    font-size: 1.25rem;
    width: max-content;
    margin: 0 auto;
    padding: 10px 24px;

    &:hover, &:focus {
      background-color: var(--light-primary);
      color: var(--dark-primary);
      box-shadow: 0 0 5px 1px var(--dark-primary);
    }
  }

  .btn--emoji {
    width: 100%;
    height: 100px;
    font-size: 3rem;
    border: 2px solid var(--light-primary);

    @media (width >= 768px) {
      font-size: 4rem;
      height: 110px;
    }

    @media (width >= 1024px) {
      font-size: 4.5rem;
      height: 125px;
    }
  }

  /* ===========================
  Form
  ============================ */

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: start;
    width: 100%;
  }

  form {
    gap: 2em;
    font-size: 1.125rem;
    padding: 1em;
    border-radius: .5em;
  }

  .form__inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  select {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    font-family: inherit;
    padding: 10px 20px 10px 10px;
    border: 1px solid var(--dark-primary);
    border-radius: .5em;
    cursor: pointer;
    appearance: none;
    background-position: calc(100% - 10px) center;
    background-image: url("./assets/arrow.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    filter: grayscale(0);

    &:hover,
    &:focus {
      background-color: var(--light-primary);
      color: var(--dark-primary);
      box-shadow: 0 0 2px 1px var(--dark-primary);
      background-image: url("./assets/arrow-dark.svg");
    }
  }

  /* ===========================
    Game
  ============================ */
  .card-container {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1em;
    width: 100%;

    @media (width >= 768px) {
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }

    @media (width >= 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }

    .card-item {
      list-style: none;
    }

    /* Animated memory card */
    .card-item--selected,
    .card-item--matched,
    .btn--emoji__back--selected,
    .btn--emoji__back--matched {
      transform: rotateY(180deg);
    }

    .card-item--selected {
      transition: .6s;
      transform-style: preserve-3d;
    }

    .btn--emoji__front,
    .btn--emoji__back--selected {
      backface-visibility: hidden;
    }

    .btn--emoji__back--matched {
      backface-visibility: unset;
      background-color: var(--btn-disabled);
      border: 2px solid var(--btn-disabled);
      cursor: not-allowed;
    }

    .btn--emoji__front:hover,
    .btn--emoji__front:focus {
      background-color: var(--accent);
      border: 2px solid var(--dark-primary);
      box-shadow: 0 0 5px 2px var(--light-primary);
      cursor: pointer;
    }

    .card-item--selected .btn--emoji__back--selected {
      border: 2px solid var(--dark-primary);
      box-shadow: 0 0 5px 2px var(--light-primary);
    }
  }

  .error-card {
    text-align: center;

    > p {
      margin: 0;
    }
  }
}
