// stylelint-disable import-notation
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

.react-quiz-page {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --color-theme: #1098ad;
  --color-accent: #ffa94d;

  .btn-primary {
    display: block;
    border: 1px solid var(--color-dark);
    padding: 14px 24px;
    width: fit-content;
    background: var(--color-dark);
    border-radius: 24px;
    font-size: 16px;
    transition: 250ms;

    &:hover, &:focus {
      background: var(--color-darkest);
    }
  }

  // Header
  .quiz-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    img {
      width: 80px;
    }

    h1 {
      font-family: Codystar, sans-serif;
      font-size: 40px;
    }
  }

  // Main
  main {
    padding: 48px 0;
    max-width: 500px;
    margin: 0 auto;

    .quiz-bottom {
      margin-top: 24px;
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
  }

  // Start screen
  .start-screen {
    display: grid;
    justify-content: center;
    text-align: center;

    h2 {
      margin: 0 0 14px;
      font-size: 32px;
    }

    p {
      margin: 0 0 24px;
      font-weight: 700;
      font-size: 18px;
    }

    button {
      justify-self: center;
    }
  }

  // Question
  .question-wrapper {
    h3 {
      margin: 0 0 24px;
      font-size: 24px;
    }

    .options-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .btn-primary {
        width: 100%;
        text-align: start;

        &:hover, &:focus, &.answer {
          transform: translateX(15px);
        }

        &[disabled] {
          pointer-events: none;
        }

        &.correct {
          background: var(--color-theme);
          color: white;
        }

        &.wrong {
          background: var(--color-accent);
          color: var(--color-darkest);
        }
      }
    }
  }

  // Next
  .btn-next {
    margin-left: auto;
  }

  // Progress
  .progress-bar-wrapper {
    margin-bottom: 32px;

    .progress-bar {
      display: block;
      width: 100%;
      height: 10px;
      background: var(--color-medium);
      border-radius: 10px;

      &[value]::-webkit-progress-bar {
        background: var(--color-medium);
        border-radius: 10px;
      }

      &[value]::-webkit-progress-value {
        background: var(--color-theme);
        border-radius: 10px;
      }
    }

    .data-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-top: 8px;
    }
  }

  // Results.
  .results-wrapper {
    text-align: center;

    .results {
      background: var(--color-theme);
      border-radius: 40px;
      color: white;
      font-size: 18px;
      padding: 14px;
    }

    button {
      margin-top: 32px;
      margin-left: auto;
    }
  }

  // Timer
  .timer {
    border: 1px solid var(--color-dark);
    padding: 14px 24px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 1.15;
    width: 100px;
    text-align: center;
  }
}
