// stylelint-disable import-notation
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

.travel-list-page {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #5a3e2b;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  height: calc(100vh - 104px);

  @media (width >= 768px) {
    font-size: 18px;
  }

  // General.
  button,
  select,
  input {
    background-color: #ffebb3;
    color: #5a3e2b;
    font-family: inherit;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
  }

  .travel-list-header,
  .travel-list-form,
  .travel-list-footer {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      height: 100%;
      width: 100vw;
    }
  }


  // Header.
  .travel-list-header {
    padding: 30px 0;

    &::after {
      background-color: #f4a226;
    }

    h1 {
      text-align: center;
      font-family: Monoton, sans-serif;
      font-size: 30px;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 400;
      word-spacing: 30px;
      letter-spacing: -5px;
      margin: 0;

      @media (width >= 768px) {
        font-size: 50px;
      }
    }
  }

  // Main.
  .travel-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 202px);

    // Form.
    .travel-list-form {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (width >= 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      &::after {
        background-color: #e5771f;
      }

      .text {
        font-weight: 700;
      }

      .form-input-number {
        input {
          width: 50px;
        }
      }

      .form-actions {
        input {
          text-transform: uppercase;
          background-color: #76c7ad;
        }
      }
    }

    // Travel list.
    .travel-list-items {
      color: #ffebb3;
      padding: 30px 0;
      overflow-y: auto;

      ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;

        .travel-list-item {
          display: flex;
          align-items: center;
          gap: 15px;

          .travel-list-item-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
              height: 20px;
              width: 20px;
              accent-color: #e5771f;

              &.checked + label {
                text-decoration: line-through;
              }
            }
          }

          button {
            cursor: pointer;
            background: none;
            border: none;
            padding: 0.8rem;
          }
        }
      }
    }

    // Actions.
    .travel-list-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px 0;
      margin-top: auto;

      // stylelint-disable no-descending-specificity
      button,
      select {
        text-transform: uppercase;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  // Footer.
  .travel-list-footer {
    text-align: center;
    font-weight: 700;
    padding: 30px 0;

    &::after {
      background-color: #76c7ad;
    }
  }
}

body:has(.travel-list-page) {
  max-height: 100vh;
}
