.meme-generator-page {
  $violet-color: #672280;
  $violet-color-2: #a626d3;
  $violet-color-3: #9D27C9FF;
  $violet-gradient-color: linear-gradient(90deg, $violet-color 1.18%, $violet-color-2 100%);
  $violet-gradient-color-2: linear-gradient(90deg, $violet-color 0%, $violet-color-3 50%, $violet-color 100%);

  .header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;

    h1 {
      font-size: 1.25rem;
      margin: 0;
      text-align: center;
    }
  }

  main {
    padding: 0 24px;
  }

  .meme-form {
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 42px;
    padding: 24px 0;

    .form-input {
      padding: 12px 24px;
      border: 1px solid #d5d4d8;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
      line-height: 1;

      &:focus {
        border: 1px solid #a626d3;
      }
    }

    .form-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      cursor: pointer;
      background: $violet-gradient-color-2;
      background-position: 0 0;
      background-size: 200% 100%;
      transition: 250ms;
      border: 0;

      &:hover,
      &:focus {
        background-position: 100% 0;
      }
    }
  }

  .get-meme-btn {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    background: $violet-gradient-color-2;
    background-position: 0 0;
    background-size: 200% 100%;
    transition: 250ms;

    &:hover,
    &:focus {
      background-position: 100% 0;
    }
  }

  .meme-content {
    position: relative;
    margin-top: 24px;

    .meme-image {
      width: 100%;
      border-radius: 3px;
      object-fit: contain;
    }

    .meme-text {
      position: absolute;
      max-width: 80%;
      width: fit-content;
      left: 20px;

      .meme-text-form {
        position: relative;
        width: fit-content;

        .textarea {
          border: 0;
          outline: none;
          background-color: transparent;
          font-size: 2em;
          font-family: impact, sans-serif;
          text-transform: uppercase;
          color: white;
          letter-spacing: 1px;
          text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
          -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000,
          -2px 0 0 #000, 2px 2px 5px #000;
          word-break: break-all;
          padding: 5px;
          resize: none;

          &[contenteditable="true"] {
            background-color: rgba(#fff, 40%);

            & + .actions {
              display: flex;
            }
          }

          &[contenteditable="false"] {
            cursor: move;
          }

          span {
            font-size: inherit !important;
          }
        }

        // stylelint-disable no-descending-specificity
        .actions {
          display: none;
          position: absolute;
          right: 0;
          bottom: calc(100% - 10px);
          flex-wrap: nowrap;

          .actions-btn {
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            border-radius: 3px;
            border: 0;
            transition: 250ms;

            &.edit {
              background-color: #009500;
              @include replace-text-with-icon(edit);

              &:hover, &:focus {
                background-color: #057e05;
              }
            }

            &.delete {
              background-color: #e30000;
              @include replace-text-with-icon(delete);

              &:hover, &:focus {
                background-color: #ca0808;
              }
            }

            &::before {
              font-size: 14px;
            }
          }
        }

        &:hover, &:focus-within {
          background-color: rgba(#fff, 20%);

          .actions {
            display: flex;
          }
        }
      }
    }
  }
}
