.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  * {
    margin: 0;
  }

  .counter-wrapper {
    display: flex;
  }

  input, button {
    display: block;
    height: 32px;
    box-sizing: border-box;
  }
}
