.react-page {
  max-width: 600px;
  margin: 0 auto;

  .react-header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      height: 40px;
    }

    div {
      color: #61DAFB;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .react-main {
    position: relative;
    padding: 20px 0;

    h1 {
      margin: 0;
      font-size: 2.4rem;
    }

    ul {
      max-width: 400px;

      li {
        padding-block: 10px;
        line-height: 19px;
      }
    }

    .bg-decoration {
      position: absolute;
      height: 300px;
      bottom: -50px;
      right: -100px;
      z-index: -1;
      filter: grayscale(1);
      opacity: 0.2;
      animation: rotate 50s infinite linear;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
