.breadcrumbs {
  position: relative;
  padding: 20px 0;
  margin-bottom: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 2px;
    width: 100vw;
    background: #545454FF;
  }
}
