:root {
  --root-bg: #242424;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(#fff, 87%);
  background-color: var(--root-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: clip;
  box-sizing: border-box;
  margin: 0;
}

#root {
  overflow-x: clip;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

button {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
