.redux-intro-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  > * {
    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        display: block;
        height: 1px;
        width: 100%;
        background: #3e3d3d;
      }
    }
  }

  .title {
    margin: 0;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      margin: 0;
    }

    input,
    select {
      display: block;
      padding: 4px 8px;
      font: inherit;
      width: 100%;
      height: 36px;
      box-sizing: border-box;
    }

    button {
      display: block;
      width: fit-content;
      text-transform: uppercase;
      font-weight: bold;
      padding: 6px 8px;
      height: 36px;
      cursor: pointer;
    }

    .form-row {
      display: grid;
      align-items: center;
      gap: 5px 16px;

      &.two-col {
        @media screen and (width >= 768px) {
          grid-template-columns: 0.4fr 0.6fr;
        }
      }

      &.four-col {
        @media screen and (width >= 768px) {
          grid-template-columns: repeat(4, 1fr);
        }

        button {
          @media screen and (width >= 768px) {
            grid-column: 4;
            width: 100%;
          }
        }
      }
    }
  }

  .customer-title {
    margin: 0;
    text-align: center;
  }

  .balance {
    background-color: #3e3d3d;
    padding: 24px 32px;
    font-weight: bold;
    font-size: 32px;
    min-width: 180px;
    text-align: center;
  }
}
